body {
    background: #F1F3FA;
  }
  a:hover{
    color: #fff;
  }
  
  .profile {
    margin: 20px 0;
  }
  
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }
  .profile-userpic{
    display: flex;
    justify-content: center;
  }
  
  .profile-userpic img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #e44d3a;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 30px;
  }
  .profile-usermenu ul{
    list-style: none;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;

  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #e44d3a;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;

  }
  
  .profile-usermenu ul li.active a {
    color: #e44d3a;
    background-color: #f6f9fb;
    border-left: 2px solid #e44d3a;
    margin-left: -2px;
  }
  
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
  .profile-about{
    color: #e44d3a;
    display: inline;
    margin-right: 30px; 
  }
  .profile-image{
		max-height: 100px;
		max-width: 100px;
	}
	.profile-image{
		border-radius: 12px;
	}
	.card{
		border-radius: 12px;
	}
	.dropdown-toggle::after { 
		content: none; 
	}
	.profile-link{
		color: #000;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.confirm-friend-request{
		color: green;
	}
	.confirm-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request{
		color: red;
	}