<script>
    function acceptFriendRequest(friend_request_id, uiUpdateFunction) {
       
		
        var url = "{% url 'friend:friend-request-accept' friend_request_id=453452554545456465454465 %}".replace("453452554545456465454465", friend_request_id)
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: url,
            timeout: 5000,
            success: function (data) {

                if (data['response'] == "Friend request accepted.") {
                    
                }
                else if (data['response'] != null) {
                }
            },
            error: function (data) {

            },
            complete: function (data) {
                    uiUpdateFunction()
                }
                
        });
    }
</script>