{% extends "layout.html"%}

{% block body %}
<div class="container">
    <div class="row pt-5">
        <div class="col-sm-4 ">
            <div class="mycard">
           <form action="" method="GET">
               <input type="text" name="q" id="" class="post_input " placeholder="Search for user by name">
               <input type="submit" class="btn mt-2" value="Search">
           </form>
       </div>
       
   </div>
        <div class="col-sm-8">
            
            <div class="mycard">
                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                <h1>Results: </h1>
                {% for user in usersResult %}
                <hr>
                <h5>{{user.first_name}} {{user.last_name}}</h5>
                <div class="d-flex pl-3" style="width:100%">
                    <a class="btn" href="/profile/{{user.id}}" style="width:50%">View Profile</a>
                    <button class="" style="width:50%;background-color:grey"><i class="fas fa-user-plus"></i>Add Friend</button>
                </div>
                <hr>
                {% endfor %}


            </div>
        </div>
    </div>
</div>
{% endblock %}