{% extends "layout.html"%}
{% block body %}
{% load static  %}

<div class="container">
    <div class="row pt-5">

        <!---------------------------------------------------- side ------------------------------------------------------------>
        <div class="col-sm-8">

            <div class="mycard post-topbar" style="height:800px;overflow-y:scroll" >
           

            {% for notification in notifications %}
          
               {% if notification.notifyType == "postView"%}
                    <a href="{% url "view" notification.instance_id%}" style="color:black;">
                    <div class="mycard d-flex justify-content-center align-items-center" id="chatdiv">
                        <div class="mx-2">{{notification.text}}</div>
                        <img class="  m-1 rounded-circle"  src="{% static 'images/exPP3.png' %}">
                    </div>
                     </a>
                {% endif %}     
           
              
            <hr>
            {% endfor %} 


            </div>
            
    
        </div>
        

    </div>    



  
</div>

{%endblock%}

