<!DOCTYPE html>
{% load static %}
<html>
{% comment %} 
  <head>
    <title>Social Media</title>
    <link rel="stylesheet" href="{% static 'css/posts.css'%}" type="text/css" />
    <link
      rel="stylesheet"
      href="{% static 'css/profile.css'%}"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    
  </head>
  <body style="overflow-x: hidden">
    <nav class="nav">
      <nav class="py-1">
        <div class="row" style="margin-right: -120px">
          <div class="col-md-2 d-flex align-items-center pl-5">
            {% if request.user.is_authenticated %}
            <p>Welcome {{request.user}}</p>
            {% endif %}
          </div>

          <div class="col-md-4" id="nav-padding-div"></div>

          <div
            class="col-lg-5 col-sm-9 col-xs-8 d-flex align-items-center justify-content-around"
          >
            <a href="{% home %}" id="navLink"
              ><i class="fa fa-home" aria-hidden="true"></i>
              <p>Home</p></a
            >
            <a href="/groups/" id="navLink"
              ><i class="fa fa-users" aria-hidden="true"></i>
              <p>groups</p></a
            >
            <a
              href="{% url 'friend:list' user_id=request.user.id %}"
              id="navLink"
              ><i class="fa fa-user-friends" aria-hidden="true"></i>
              <p>Friends</p></a
            >
            <a href="/messages" id="navLink"
              ><i class="fa fa-comments" aria-hidden="true"></i>
              <p>Messages</p></a
            >
            <a href="/messages/notifications" id="navLink"
              ><i class="fa fa-bell" aria-hidden="true"></i>
              <p>Notifications</p></a
            >

            <div>
              <a href="{% url 'profile' user.id %}" id="navLink"
                ><img
                  class="m-1 rounded-circle"
                  src="{% if user.is_authenticated  and request.user.userprofile.avatar.url %} {{request.user.userprofile.avatar.url}} {% else %} /images/avatars/profile.jpeg {% endif %}"
              /></a>
              {% if user.is_authenticated %}
              <a href="/logout/" id="navLink">Logout</a>
              {% else %}
              <a href="/login/" id="navLink">Login</a>
              {% endif %}
 {% endcomment %}
<head>
<title>Social Media</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/posts.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/profile.css'%}" type="text/css">


    {% block style %}{% endblock %}

</head>
<body style="overflow-x:hidden">
<nav class="nav">
<nav class="py-1">

    <div class="row" style="margin-right: -120px">
        
        <div class="col-md-2  d-flex  align-items-center pl-5">

            {% if user.is_authenticated %}
            <p> Welcome {{request.user}}</p>
            {% endif %}         
        </div>

        <div class="col-md-4 " id="nav-padding-div">
        
        </div>
   
        <div class="col-lg-5 col-sm-9 col-xs-8 d-flex align-items-center justify-content-around ">
            <a  href="/posts/" id="navLink"><i class="fa fa-home" aria-hidden="true" ></i><p>Home</p></a>
            <a  href="/groups/" id="navLink"><i class="fa fa-users" aria-hidden="true"></i><p>groups</p></a>
            <a  href="{% url 'friend:list' %}" id="navLink"><i class="fa fa-user-friends" aria-hidden="true"></i><p>Friends</p></a>
            <a  href="/messages" id="navLink"><i class="fa fa-comments" aria-hidden="true">
            
            {% if msgCounter != null %}
            <p class="rounded-circle d-inline px-2 py-1" style="background-color:white;color:red;font-weight:bold;-webkit-text-stroke: 1px red;">
            {{msgCounter}}</p>
            {% endif %}
            
            </i><p>Messages</p></a>

            <a  href="/messages/notifications" id="navLink"><i class="fa fa-bell" aria-hidden="true">
            {% if notifyCounter != null %}
            <p class="rounded-circle d-inline px-2 py-1" style="background-color:white;color:red;font-weight:bold;-webkit-text-stroke: 1px red;">
            {{notifyCounter}}</p>
            {% endif %}
            </i><p>Notifications</p>
            </a>

            

            <div >
                <a  href="{% url 'profile' request.user.id %}" id="navLink"><img  class="  m-1 rounded-circle"  src="{% if request.user.is_authenticated  and request.user.userprofile.avatar %} {{request.user.userprofile.avatar.url}} {% else %} /images/avatars/profile.jpeg {% endif %}"  ></a>
                {% if request.user.is_authenticated %}
                <a  href="{% url 'logout_request' %}" id="navLink">Logout</a>
                {% else %}
                <a  href="/login/" id="navLink">Login</a>
                {% endif %}

            </div>
          </div>
        </div>
      </nav>
    </nav>

    {% block body %}{% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      $("#groupRequest").one("change", function () {
        $("#Testing").prop("disabled", false);
      });

      $("#Testing").on("click", function () {
        var val = $("#groupRequest").val();
      });
    </script>
    <script
      src="{% static 'js/jquery-3.6.0.min.js'%}"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'js/jquery-3.6.0.js'%}"
      type="text/javascript"
    ></script>
  </body>
</html>
